#ApiDocs {
    margin: calc(var(--navbar-height) + 2em) auto 10em;
    width: 87.5%;
}

#ApiDocs p {
    font-size: 1rem;
}

#api-doc-heading {
    font-size: 1.25rem;
    margin-bottom: 1em;
}

#api-link {
    color: var(--accent-color);
}

#api-info {
    margin: 3em 0 1em;
}

#api-req-types-list {
    margin: 2em 0 2.5em;
    font-size: 1rem;
    padding-left: 1em;
    list-style: square;
}

.api-req-types-item {
    margin: 0.25em 0;
}

.api-req-type-link {
    text-decoration: none;
    color: var(--api-docs-li);
}

.api-req-type-link:hover {
    cursor: pointer;
}

#usage-title {
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.usage-types-head {
    font-size: 1.1rem !important;
    font-weight: 600;
}

.usage-types {
    scroll-margin-top: 11em;
}

.usage-example-code {
    display: block;
    margin: 2em 0;
    padding: 1em 0.75em;
    background-color: var(--api-code-bg);
    border-radius: 0.5em;
    word-break: break-all;
    font-size: 1rem;
    max-width: 45em;
}

.usage-example-code::selection {
    background-color: black;
}

.usage-example-head {
    font-size: 1.1rem !important;
    font-weight: 600;
    color: black;
    padding-bottom: 0.75em;
}

.usage-example-code-link {
    text-decoration: none;
    color: var(--text-color);
}

.usage-example-code-link:hover {
    cursor: pointer;
}

#sat-req-params-list {
    margin: 1em;
    padding-left: 0.5em;
}

.sat-req-param {
    font-size: 1rem;
    padding: 0.5em;
    padding-left: 0;
}

/* Media queries */

@media screen and (min-width: 935px) {
    #ApiDocs {
        margin-bottom: 18em;
    }

    #api-doc-heading {
        font-size: 1.4rem;
        font-weight: 500;
    }

    #ApiDocs p,
    .api-req-type-link {
        font-size: 1.1rem;
    }

    #usage-title {
        font-size: 1.35rem;
        font-weight: 500;
    }

    .usage-types-head {
        font-size: 1.15rem !important;
    }

    .usage-example-code {
        font-size: 1.1rem;
    }

    .usage-example-head {
        font-size: 1.15rem !important;
    }

    .sat-req-param {
        font-size: 1.1rem;
    }
}
