#CoordinateImagery {
    margin-top: var(--navbar-height);
    padding: 2em;
}

#ci-heading {
    padding: 0.5em 0 1em;
    text-align: center;
}

#ci-desc {
    font-size: 1rem;
    padding-bottom: 1em;
    text-align: center;
}

#ci-form {
    max-width: 25em;
    margin: 1em auto 0;
    font-size: 1rem;
}

#ci-form-fieldset {
    padding: 0.5em 0.75em;
}

#ci-form-legend {
    font-size: 1.1rem;
    margin-left: -3px;
}

#ci-form-latitude-container,
#ci-form-longitude-container,
#ci-form-zoom-container {
    display: flex;
    margin: 1em 0;
    align-items: center;
}

#ci-form-lat-label,
#ci-form-lon-label,
#ci-form-zoom-label {
    padding: 0 0.5em;
}

#ci-form-latitude,
#ci-form-longitude {
    flex-grow: 1;
    margin: 0 1em 0 0;
    padding: 0.25em;
    padding-right: 0;
    color: var(--text-color);
    background-color: var(--searchBar-color);
    border: 1px solid gray;
}

#ci-form-zoom {
    margin: 0 1em 0 0;
    padding: 0.25em;
    padding-right: 0;
    color: var(--text-color);
    background-color: var(--searchBar-color);
    border: 1px solid gray;
}

/* Remove number input scroll arrows in Chrome, Safari, Edge, Opera */
#CoordinateImagery input::-webkit-outer-spin-button,
#CoordinateImagery input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove number input scroll arrows in Firefox */
#CoordinateImagery input[type="number"] {
    appearance: textfield;
}

#ci-form-submit-btn {
    display: block;
    font-family: Inter, Poppins, sans-serif;
    color: var(--text-color);
    margin: 1em 0.4rem;
    margin-top: 0;
    text-decoration: none;
    padding: 0.65em 1em;
    border: 2px solid var(--download-btn-border);
    border-radius: 0.5em;
    box-shadow: 1px 1px 1px var(--download-btn-shadow);
    background-color: var(--download-btn);
}

#ci-form-submit-btn:hover {
    cursor: pointer;
}

#ci-img-timedout {
    margin: 1.5rem 0 0;
    text-align: center;
}

#ci-timedout-h2 {
    font-size: 1.25rem;
    padding-bottom: 1em;
}

#ci-timedout-desc {
    margin-top: 1rem;
    font-size: 1rem;
}

#ci-img-data {
    margin-top: 3.5em;
}

#ci-main-image-container {
    width: min(100%, 50em);
    margin: 3.5em 0 1.5em;
    padding: 1.5em;
    min-height: 250px;
    background-color: var(--img-container-bg);
    border-radius: 0.5em;
}

#ci-main-image {
    width: 100%;
    border-radius: 0.5em;
}

#ci-img-load-time {
    font-style: italic;
    padding-left: 0.25em;
}

/* Media queries */

@media screen and (min-width: 421px) {
    #ci-heading {
        font-size: 1.3rem;
        font-weight: 600;
    }

    #ci-desc {
        font-size: 1.1rem;
        padding-bottom: 1em;
    }

    #ci-img-data {
        margin: 0 auto;
        margin-top: 5em;
    }

    #ci-img-data-container {
        max-width: 50em;
        margin: 0 auto;
    }

    #ci-img-load-time {
        display: inline-block;
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 810px) {
    #ci-heading {
        font-size: 1.5rem;
        font-weight: 500;
        padding-top: 0;
        padding-bottom: 1em;
    }

    #ci-desc {
        font-size: 1.25rem;
        padding-bottom: 0.5em;
    }

    #ci-main {
        margin: 5em auto 0;
        width: 92.5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 4em;
    }

    #ci-form {
        margin-top: 0;
        width: 100%;
        max-width: 35em;
    }

    /* #ci-form-fieldset {

    } */

    #ci-form-legend {
        font-size: 1.25rem;
    }

    #ci-form-lat-label,
    #ci-form-lon-label,
    #ci-form-zoom-label {
        font-size: 1.15rem;
    }

    #ci-form-latitude,
    #ci-form-longitude,
    #ci-form-zoom {
        margin: 0 1.25em 0 0;
        font-size: 1rem;
    }

    #ci-form-latitude,
    #ci-form-longitude {
        margin-left: 0.75em;
        margin-right: 0.75em;
        padding-left: 0.35em;
    }

    #ci-form-submit-btn {
        font-size: 1rem;
        margin: 1em 0.5rem;
        padding: 0.5rem 1rem;
    }

    #ci-img-data {
        margin: 0 auto;
    }

    #ci-img-data-container {
        width: 90%;
        max-width: initial;
        margin: 0;
        margin-left: auto;
    }

    #ci-main-image-container {
        margin: 0;
    }

    #ci-img-load-time {
        margin-top: 0.75em;
    }
}

@media screen and (min-width: 1284px) {
    #ci-img-data-container {
        margin-right: -2.5em;
    }
}
