:root {
    --footer-margin: 5em;
}

/* Flex option is implemented. See: https://stackoverflow.com/a/20352949 */

#Copyright {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 2fr 1fr;
    gap: 1em;
    background-color: var(--footer-bgcolor);
    padding: 2.5em 2em 0;
    padding-left: 2.5em;
    margin: var(--footer-margin) auto 0;
    overflow: clip;
}

#footer-project-name {
    grid-column: span 2;
    font-size: 1.1rem;
    font-weight: 900;
    color: var(--footer-heading-color);
    margin-bottom: 0.5em;
}

#footer-desc {
    grid-column: span 2;
}

#footer-desc-p {
    font-size: 0.8rem;
}

#footer-portfolio-link {
    color: var(--accent-color);
}

#footer-developer-card {
    grid-column: span 2;
    margin: 0 0 2em;
    display: flex;
    align-items: center;
}

#footer-developer-handle {
    display: inline-block;
    padding-left: 1.2em;
    font-size: 1rem;
    font-weight: 400;
}

.footer-dev-handle-link {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.4s;
    display: flex;
}

.footer-dev-handle-link:hover {
    color: var(--accent-color);
    cursor: pointer;
}

#fdc-avatar-container {
    display: inline-block;
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

#fdc-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#ful-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ful-link {
    text-decoration: none;
    color: var(--text-color);
}

.ful-link-text {
    font-size: 0.75rem;
    transition: color 0.4s;
}

.ful-link:hover {
    color: var(--secondary-color);
}

#footer-socials {
    padding-left: 3.5em;
    display: flex;
    flex-direction: column;
}

#ful-head,
#footer-socials-head {
    font-size: 1rem;
    color: var(--accent-color);
    margin-bottom: 0.5em;
    font-weight: 700;
}

#footer-socials-container {
    display: flex;
    gap: 0.5rem;
    font-size: 1.25rem;
}

.footer-social-link {
    text-decoration: none;
    color: var(--text-color);
}

.fsl-icon {
    width: 1.1em;
    height: 1.1em;
    fill: var(--text-color);
    transition: fill 0.4s;
}

.fsl-icon:hover {
    fill: var(--secondary-color);
}

#footer-container-img1 {
    position: absolute;
    width: 9rem;
    height: 9rem;
    right: -1.25em;
    bottom: 1.4em;
}

#footer-img-1 {
    width: 100%;
    transform: rotate(-10deg);
}

#footer-copyright {
    grid-column: span 2;
    margin-top: 2.75em;
    text-align: center;
}

/* Media queries */

@media screen and (min-width: 345px) {
    #Copyright {
        margin-top: 9em;
        padding-top: 4em;
    }

    #footer-project-name {
        font-size: 1.25rem;
    }

    #footer-desc-p {
        font-size: 1rem;
        padding-bottom: 1em;
    }

    #ful-head {
        font-size: 1.2rem;
        padding-bottom: 0.5em;
    }

    #ful-container {
        gap: 1.5em;
    }

    .ful-link-text {
        font-size: 0.9rem;
    }

    #footer-socials-head {
        font-size: 1.2rem;
        padding-bottom: 0.5em;
    }

    #footer-socials-container {
        gap: clamp(0.5em, 2.75vw, 2em);
    }

    .fsl-icon {
        font-size: 1.25rem;
        width: 1.25em;
        height: 1.25em;
    }
}

@media screen and (min-width: 861px) {
    #footer-project-name {
        grid-area: fpname;
    }

    #footer-desc {
        grid-area: fdesc;
    }

    #footer-developer-card {
        grid-area: fdevcard;
    }

    #footer-developer-card {
        margin: 2em 0;
    }

    #footer-useful-links {
        grid-area: flinks;
    }

    #footer-socials {
        grid-area: fsocials;
    }

    #footer-copyright {
        grid-area: fcopyr;
    }

    #Copyright {
        margin-top: 15em;
        padding: 3.75em 5em 0;

        grid-template:
            "fpname fpname . flinks fsocials" auto
            "fdesc fdesc . flinks fsocials" auto
            "fdevcard fdevcard . flinks fsocials" auto
            "fcopyr fcopyr fcopyr fcopyr fcopyr" auto / 1fr 1fr 1fr 1fr 1fr;
    }

    #footer-project-name {
        font-size: 1.55rem;
        font-weight: 600;
    }

    #footer-desc-p {
        font-size: 1.1rem;
    }

    #ful-head {
        font-size: 1.25rem;
        font-weight: 500;
        padding-bottom: 1em;
    }

    #footer-developer-card {
        margin-top: 3.5em;
    }

    #fdc-avatar-container {
        width: 4.25em;
        height: 4.25em;
    }

    #footer-developer-handle {
        font-size: 1.1rem;
    }

    #ful-container {
        gap: 1.75em;
    }

    #ful-head,
    #footer-socials-head {
        font-size: 1.35rem;
    }

    .ful-link-text {
        font-size: 1.1rem;
    }

    #footer-socials-head {
        font-size: 1.25rem;
        padding-bottom: 1em;
        font-weight: 500;
    }

    #footer-socials-container {
        gap: 1.15em;
    }

    .fsl-icon {
        font-size: 1.5rem;
        width: 1.15em;
        height: 1.15em;
        fill: var(--text-color);
        transition: fill 0.4s;
    }

    .fsl-icon:hover {
        fill: var(--accent-color);
    }

    #footer-copyright {
        font-size: 0.85rem;
        margin-top: 4em;
        padding-bottom: 2.5em;
    }

    #footer-container-img1 {
        width: 13rem;
        height: 13rem;
        right: 0em;
        bottom: 1.5em;
    }

    #footer-img-1 {
        transform: rotate(-14deg);
    }
}

@media screen and (min-width: 1475px) {
    #footer-container-img1 {
        right: 2.5em;
    }
}
