#GalleryImage {
    margin-top: var(--navbar-height);
    padding: 2.85em 3em 0 3em;
    overflow-wrap: anywhere;
}

#gallery-image-container {
    width: 100%;
    max-height: 100%;
    margin-bottom: 2em;
}

#gallery-image {
    width: 100%;
    max-height: 100%;
    max-width: 60em;
    min-height: 130px;
    border-radius: .5em;
}

#gi-image-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: .65em 0 .5em;
}

#gi-description {
    margin-bottom: 2em;
    font-size: 1rem;
}

#gallery-image-address {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--code-block-color);
    padding: 1em;
    border-radius: .5em;
}

#gallery-image-address::selection {
    background-color: black;
}

#gallery-address-heading {
    color: black;
    padding: 0 0 .5em 0;
    font-size: 1rem;
}

.gallery-img-link {
    text-decoration: none;
    color: var(--text-color);

}

.gallery-img-link:hover {
    cursor: pointer;
}

#gallery-download-link {
    display: inline-block;
    color: var(--text-color);
    font-size: .75rem;
    margin: 3em 0 3em 0;
    text-decoration: none;
    padding: 1em;
    border: 2px solid var(--download-btn-border);
    border-radius: .5em;
    box-shadow: 1px 1px 1px var(--download-btn-shadow);
    background-color: var(--download-btn);
}

#gallery-download-link:hover {
    cursor: pointer;
}

#GalleryImage hr {
    border: 2px solid black !important;
    margin: 1.5em 0 !important;
}

#GalleryImage .loader {
    margin: 8em auto 0;
}

/* Media Queries */

@media screen and (min-width: 550px) {
    #GalleryImage {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    #gi-main {
        margin-top: 3em;
        margin-bottom: 1.5em;
    }

    #gallery-image-container {
        float: right;
        width: 50%;
        margin-left: 3em;
        margin-bottom: 3em;
    }
}

@media screen and (min-width: 950px) {
    #GalleryImage {
        width: 93%;
        margin-left: auto;
        margin-right: auto;
    }

    #gi-main {
        margin: 4em 0 1.9em;
        width: 100%;
        display: grid;
        gap: 3em;
        grid-template-columns: 3fr 5fr;
        grid-template-rows: 1fr;
    }   

    #gi-data {
        padding: 1em;
        padding-top: 0;
    }

    #gi-image-title {
        padding-top: 0;
    }

    #gallery-image-container { 
        height: fit-content;
        float: none;
        width: 100%;
        margin-top: 1em;
        margin-left: 0;
        margin-bottom: 1em;
    }

    #gallery-image-address {
        display: block;
    }
}