/* NavPanel is nested inside div#nav-bar. See App.css for more info */

#NavPanel {
    font-size: 1rem;
    position: fixed;
    top: 0;
    padding: 2.5rem 0 0;
    background-color: var(--body-bgcolor);
    z-index: var(--z-index-navpanel);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    border-bottom-right-radius: .5em;
    transition: left .4s;
}

#nav-open{
    display: block;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    margin: .5em;
    width: 1.1em;
    height: 1.1em;
}

.nav-menu-open-icon {
    fill: var(--text-color);
}

#nav-close{
    display: block;
    font-size: 1.75rem;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: .35em;
    width: 1.1em;
    height: 1.1em;
}

.nav-menu-close-icon {
    fill: var(--text-color);
}

.show_nav{
    left: 0;
}

.hide_nav{
    left: -50rem;
}

#nav-heading{
    color: var(--nav-panel-heading-color);
    margin: .5em 1.75em .5em 1.75em;
    font-size: 1.35em;
    text-align: center;
}

.nav-divider{
    margin-top: .5em;
    border: 1px solid var(--accent-color);
}

#nav-list{
    margin: 1em 0;
    margin-bottom: 1.25em;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    list-style: none;
}

.nav_link{
    font-size: 1.1rem;
    text-decoration: none;
    padding: .8em 1.75em;
    color: var(--text-color);
    transition: color .4s, background-color .4s;
}

.nav_link:hover{
    color: var(--primary-color);
    backdrop-filter: blur(1em);
}

.nav_link:active{
    color: var(--accent-color);
    background-color: var(--secondary-color);
}

.nav_link.active {
    color: var(--accent-color);
}

/* Media queries */

@media screen and (min-width: 935px) {
    .nav_link:hover{
        color: var(--navbar-hover-text);
        background-color: var(--navbar-hover-bg);
    }
}