#Potd {
    margin: calc(var(--navbar-height) + 2em) 2.5em 0;
    overflow-wrap: anywhere;
}

#potd-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

#potd-date {
    text-align: center;
    font-size: 1.15rem;
}

#potd-figure {
    width: 100%;
    max-width: 60em;
    margin: 2.75em 0 1.25em;
    padding: 1.5em;
    background-color: var(--img-container-bg);
    border-radius: .5em;
}

#potd-img {
    width: 100%;
    min-height: 130px;
    font-size: .75rem;
    border-radius: .5em;
}

#potd-copyright {
    padding-top: .5em;
    color: var(--potd-copyright);
    font-size: .85rem;  
}

#potd-title {
    font-size: 1.25rem;
    font-weight: 600;
    padding: .75em 0 1em;
}

#potd-description {
    margin-bottom: 2.25em;
    font-size: 1rem;
}

#potd-img-address {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--code-block-color);
    padding: 1em;
    border-radius: .5em;
    margin-top: 3.75em;
}

#potd-img-address::selection {
    background-color: black;
}

.potd-img-link {
    color: var(--text-color);
    text-decoration: none;
}

.potd-img-link:hover {
    cursor: pointer;
}

.usage-example-code-link:hover {
    cursor: pointer;
}

#potd-address-heading {
    color: black;
    padding: 0 0 .5em 0;
    font-size: 1rem;
}

#potd-download-link {
    display: inline-block;
    color: var(--text-color);
    font-size: .75rem;
    margin: 2.75em 0 1em 0;
    text-decoration: none;
    padding: 1em;
    border: 2px solid var(--download-btn-border);
    border-radius: .5em;
    box-shadow: 1px 1px 1px var(--download-btn-shadow);
    background-color: var(--download-btn);
}

#potd-download-text {
    font-size: 1.2rem;
    font-weight: 500;
}

#potd-download-link:hover {
    cursor: pointer;
}

#potd-error {
    margin-top: 12em;
    text-align: center;
}

#Potd .loader {
    margin: 20em auto 0;
}


/* Media Queries */

@media screen and (min-width: 550px) {
    #Potd {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #potd-main {
        margin-top: 3em;
    }

    #potd-figure {
        float: right;
        width: 50%;
        margin-left: 3em;
        margin-bottom: 3em;
    }

    #potd-img-address {
        margin: 3.5em 0 1.25em;
        padding: 1.25em 1em;
        padding-top: 1em;
    }

    #potd-address-heading {
        padding-bottom: .75em;
    }

    #potd-download-link {
        margin-top: 1.5em;
    }
}

@media screen and (min-width: 950px) {
    #Potd {
        width: 93%;
        margin-left: auto;
        margin-right: auto;
    }

    #potd-main {
        margin: 4em 0 0;
        width: 100%;
        display: grid;
        gap: 3em;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr;
    }   

    #potd-date {
        font-size: 1.25rem;
    }

    #potd-data {
        padding: 1em;
    }

    #potd-figure { 
        height: fit-content;
        float: none;
        width: 100%;
        margin-left: 0;
        margin-bottom: 1em;
    }

    #potd-copyright {
        font-size: 1rem;
    }

    #potd-img-address {
        margin: 3.5em 0 1em;
    }

    #potd-address-heading {
        font-size: 1.1rem;
    }

    #potd-download-link {
        margin-top: 1.75em;
    }
}