/* Variables */
:root{
    --body-bgcolor: #0a0e13;
    --text-color: #e9ecf1;
    --primary-color: #a6bad6;
    --secondary-color: #325280;
    --accent-color: #4c7fc5;
    --black-color: hsla(0, 100%, 0%, 0.8);
    --fsz1: 10px;
}


/* General Classes */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    color-scheme: dark;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-bgcolor);
    font-family: Inter, Poppins, sans-serif;
    font-size: var(--fsz1);
    color: var(--text-color);
    height: 100%;
}

hr{
    border: 0;
    margin: 1em 0 0 0;
}


/* Specialized Selectors */

#router-error {
    font-size: 1rem;
    margin-top: 10em;
    text-align: center;
    width: 100%;
}

#router-error-code {
    font-size: 2.75rem;
    font-weight: 800;
    font-style: italic;
    color: var(--accent-color);
}

#router-error-divider {
    border: 3px solid black;
}

#router-error-heading {
    margin: 1.25em 0 1em 0;
    font-size: 1.75rem;
    color: var(--primary-color);
}

#router-error-desc {
    padding: 0 2em;
    font-size: 1rem;
}

#router-error a{
    color: var(--accent-color);
}


@media screen and (min-width: 850px) {
    
    #router-error-code {
        font-size: 2.9rem;
    }

    #router-error-divider {
        border: 3.5px solid black;
    }

    #router-error-heading {
        font-size: 1.9rem;
    }

    #router-error-desc {
        font-size: 1.15rem;
    }
}